@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.8s;
}

html {
  scroll-behavior: smooth;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}